@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "reset";
@import "variables";

* {
  font-family: $font-default;
}

@import "header";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: 66px;
  }
  
  .titulo-wrap {
    margin: 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      max-width: 1200px;
      width: 100%;
      height: 100%;

      @media (min-width: 320px) and (max-width: 768px) {
        flex-direction: column;
        margin: 0 24px;
        gap: 12px;
      }
    }

    .titulo-categoria {
      font-family: $font-default;
      font-size: 32px;
      line-height: 44px;
      font-weight: 400;
      color: $cinza-font;
    }

    .filtros-button {
      font-family: $font-default;
      //width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid $cinza2;

      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        font-size: 24px;
      }

      .filtro-padrao {
        all: unset;
        text-align: center;
        display: none;

        @media (min-width: 320px) and (max-width: 768px) {
          display: block;
          width: 50%;
          line-height: 42px;
          border-right: 1px solid $cinza2;
        }
      }
      
      #ordenar {        
        all: unset;
        text-align: center;
        width: 142px;
        height: 42px;
        border-radius: 0;
  
        font-size: 16px;
        line-height: 42px;
        padding: 0 5px;
        
        @media (min-width: 320px) and (max-width: 768px) {
          width: 50%;
          border: none;
          font-size: 24px;
        }
  
        option {
          width: auto;
          height: 36px;
        }
      }
    }
  }

  .filtro-produtos-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  
      max-width: 1200px;
      width: 100%;
      height: 100%;

      @media (min-width: 320px) and (max-width: 768px) {
        margin: 0 16px;
        flex-direction: column;
      }
    }

      aside {
        width: 20%;
        display: flex;
        flex-direction: column;

        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;

          &.hide {
            display: none;
          }
        }

        @import "filter.scss";
      }

      main {
        width: 80%;

        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
          margin: 32px 0;
        }

        @import "product-list";

        #load-more {
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $primary-color;
          color: $branco;
          width: 175px;
          height: 35px;
          border: none;
          margin: 0 auto;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
          transition: all .3s ease-in-out;
          cursor: pointer;

          &:hover {
            box-sizing: border-box;
            border: 1px solid $primary-color;
            background-color: $branco;
            color: $primary-color;
            transition: all .3s ease-in-out;
          }
        }
      }
  }
}

@import "footer";
